/*   全局   */

body {
    --primary: #007bff;
    --gray: #b0b1b3;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;
    --muted: #6c757d;
    --white: #fff;
    --borderColor: #dee2e6;
    --lightmuted: #B2B2B2;
    --adorn: #007bff;
    --grey: #8799a3;
    --navHeight: 3rem
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--muted);
    font: 16px/1.8 -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, monospace, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

/* 锚点定位矫正 */

:target {
    padding-top: var(--navHeight);
    margin-top: var(--navHeight);
}

html, body {
    height: 100%;
}

span {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

a {
    color: #656d78;
    text-decoration: none !important;
}

h1 {
    font-size: initial;
}

.show {
    display: show;
}

.none {
    display: none;
}

#container {
    margin-top: 5rem;
}

#container .content {
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
}

.bg-light {
    background: var(--lightmuted);
}

.title {
    font-family: monospace sans-serif !important;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    color: #434A54;
}

.text-none {
    text-decoration: none !important;
}

.text-lighter {
    font-weight: 200;
    font-size: 15px;
    color: #777;
}

.text-name {
    font-weight: bold;
}

.text-gray {
    color: var(--lightmuted);
}

.font-sm {
    font-size: 0.8rem;
    font-weight: 400;
}

.a-self-center {
    align-self: center;
}

.font-lighter {
    font-weight: lighter;
}

.t-a-center {
    text-align: center;
}

.text-center {
    text-align: center;
}

.hover-primary:hover {
    color: var(--primary);
}

/*   全局end   */

/*   导航   */

nav {
    height: var(--navHeight);
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav-shadow {
    box-shadow: 1px 1px 10px #c9c9ca;
}

.logo {
    margin: 0;
    padding: 0;
    font-size: 26px;
    margin-left: 100px;
    font-weight: 900;
    transition: all .5s;
    z-index: 10;
    color: var(--primary);
}

.logo:hover {
    text-decoration: none;
    color: var(--dark);
}

.navbars .nav-link {
    font-size: 12px;
    font-weight: bold;
}

.navbars .nav-link:hover {
    color: var(--adorn);
}

.menu-btn {
    font-size: 26px;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.hamburger-container {
    margin: 0;
    padding: 0;
    width: 26px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hamburger-container span {
    display: block;
    height: 1px;
    width: 26px;
    background: var(--grey);
    position: relative;
    top: 0;
    transition: transform .1s ease-in-out, top .1s ease-in-out .1s;
    z-index: 10;
}

#check:checked~.menu-btn .hamburger-container span:nth-child(1) {
    background-color: var(--light);
    transform: rotate(45deg);
    top: 5px;
    transition: all .1s ease-in-out, transform .1s ease-in-out .1s
}

#check:checked~.menu-btn .hamburger-container span:nth-child(2) {
    background-color: var(--light);
    transform: rotate(-45deg);
    top: -5px;
    transition: all .1s ease-in-out, transform .1s ease-in-out .1s
}

.navbars {
    list-style: none;
    margin: 0;
    margin-right: 100px;
}

@media(max-width: 992px) {

    
    .navbars {
        position: fixed;
        background-color: rgba(0, 0, 0, .96);
        width: 70%;
        left: -100%;
        top: 0;
        bottom: 0;
        text-align: center;
        z-index: 2;
        padding-top: 100px;
        transform-origin: 0 0;
        transition: all .3s;
    }
    .navbars .nav-link { 
        font-size: 1.2rem;
        color: #d8e3f1 !important;
    }
    .logo {
        margin-left: 20px;
    }
}

#check:checked~.navbars {
    box-shadow: 20px 20px 60px rgba(0, 0, 0);
    left: 0;
}
#check:checked~.shield{
    position:fixed;
    top: 0;
    bottom: -1rem;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.4;
    transition: all .5s;
}
#check:checked~.logo {
    color: white;
}

#check:checked~.menu-btn .confirm {
    display: none;
}

#check:checked~.menu-btn .cancel {
    display: block !important;
}

/*   导航   */

/*   INDEX   */

.post-list .post {
    margin: 1rem 0;
}

.post-list .title:hover {
    color: var(--adorn);
}

/*   INDEX   */

/*   文章   */

#article .title {
    font-size: 26px;
    font-weight: 900;
    background: linear-gradient(to bottom, transparent 30%, rgba(189, 202, 219, .3) 0) no-repeat;
    display: inline-block;
    margin-bottom: 1rem;
}

#article h1 {
    font-size: 1.4rem;
    margin-top: 3rem;
    font-weight: bold;
}

#article h1 ::after {
    content: "# ";
    font-size: 1.4rem;
    font-weight: bold;
}

#article h2 {
    font-size: 1.3rem;
    margin-top: 2rem;
    font-weight: bold;
}

#article h2 ::after {
    content: "  # ";
    font-size: 1rem;
    font-weight: bold;
    color: #007bffa6;
}

#article h3 {
    font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(to bottom, transparent 70%, rgba(189, 202, 219, .3) 0) no-repeat;
    display: inline-block;
    margin-top: 2rem;
}

#article h4 {
    font-size: 1.05rem;
    font-weight: bold;
    margin-top: 2rem;
}

#article h5 {
    font-size: 1.02rem;
    font-weight: bold;
    margin-top: 2rem;
}

#article h6 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
}

#article a {
    color: var(--adorn);
    text-decoration: none;
}

#article a:hover {
    border-bottom: 1px solid;
}

#article h1 a:hover {
    border-bottom: none;
}

#article code {
    border-radius: 3px;
}

#article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#article pre {
    font-size: 14px;
}

#article p {
    line-height: 2rem;
}

#article p code {
    background: #efefef;
    padding: 1px 6px;
    font-style: italic;
}

/* 表格处理 */

#article table {
    width: 100%;
    border: 0;
    margin: 20px 0 50px 0;
    border-collapse: collapse;
    border-spacing: 0;
    /* line-height: 30px; */
    border-radius: 8px;
}

#article table th {
    /* background: #73b1e0; */
    background: #425666;
    font-weight: 800;
    text-align: left;
    color: #FFF;
}

#article table tr:nth-child(odd) {
    background: #f9f9f9;
}

#article table tr:hover td {
    background: #f4f4f4;
    color: #30a9de;
}

#article table td, table th {
    padding: 6px 20px;
    font-size: 16px;
}

#article table tr:first-child th:first-child {
    border-top-left-radius: 3px;
}

#article table tr:first-child th:last-child {
    border-top-right-radius: 3px;
}

#article table tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

#article table tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

/*   文章   */

/*   分页   */

.paginate {
    list-style: none;
    margin: 3rem 0;
}

.paginate a:hover {
    text-decoration: none;
}

.paginate .page-number {
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 50%;
    font-size: 14px;
    color: #aab2bd;
}

.paginate .iconfont {
    color: #aab2bd;
}

.paginate .page-number:hover {
    background: #efefef;
    color: var(--adorn);
}

.paginate .extend {
    padding: 6px 10px;
}

.paginate .extend:hover i {
    color: var(--adorn) !important;
}

.paginate .current {
    color: var(--adorn) !important;
}

.paginate .current:hover {
    background: none;
    color: var(--adorn);
}

/*   分页   */

/*   侧边栏   */

#aside .search {
    display: flex;
    align-items: center;
    ;
    overflow: hidden;
}

#aside .search input {
    outline: 0;
    -web-kit-appearance: none;
    -moz-appearance: none;
}

#aside .search input::-webkit-input-placeholder {
    font-weight: 200;
    color: var(--lightmuted);
}

#aside .icon-quote-left {
    position: absolute;
    z-index: -1;
    font-size: 50px;
    color: #eee;
    left: -20px;
    top: -30px;
}

/* 文章索引 */

#aside #dir {
    position: sticky;
    top: var(--navHeight);
    overflow: hidden;
}

#aside #dir ul {
    list-style-type: none;
}

#aside #dir li {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* #aside #dir ul>li>ul{
    display: none;
} */

#aside #dir .toc-list {
    padding-left: 14px;
}

#aside #dir .toc-link {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
    border-bottom: 0;
    white-space: nowrap;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#aside #dir .is-active-link {
    font-weight: inherit;
    color: var(--dark);
}

#aside #dir .toc-link:hover {
    color: var(--primary);
    padding-left: 6px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#aside #dir .toc-link:before {
    background-color: #efefef;
    content: ' ';
    display: inline-block;
    height: inherit;
    left: 0;
    position: absolute;
    width: 2px;
}

#aside #dir .is-active-link:before {
    background: var(--primary);
}

#aside #dir .is-collapsed {
    display: none;
}

/* 文章索引 */

/*   侧边栏   */

/*   分类   */

#categories {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}

#categories .category-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

#categories .category-item {
    position: relative;
    display: block;
    background-color: #fff;
    cursor: pointer;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

#categories .category-name {
    padding: .75rem 1.25rem;
}

#categories .category-name:hover {
    color: var(--primary);
    background: var(--light);
}

#categories .category-name:hover i {
    color: var(--primary);
}

#categories .category-item .category-count {
    padding: .75rem 0.5rem;
    width: 5rem;
}

#categories .category-item .category-count:hover {
    color: var(--primary);
}

#categories .category-item .category-count:hover i {
    color: var(--primary);
}

#categories .category-item i {
    display: inline-block;
    font-size: 0.6rem;
    transition: all .2s
}

#categories .category-item .open {
    transform: rotate(135deg);
}

#categories .sub-cat {
    display: none;
}

#categories .category-item .name {
    margin-right: auto;
}

#categories .category-item .font-lighter {
    width: 1rem;
}

#categories .post-item {
    position: relative;
    display: block;
    background-color: #fff;
    padding: .75rem 1.25rem;
}

#categories .post-item:hover {
    color: var(--primary);
    background: var(--light);
}

#categories .placeholder {
    width: 5rem;
}

.category-list {
    list-style: none;
}

.category-list a {
    padding: 5px 10px;
    display: block;
}

.category-list .category-list-item {
    position: relative;
}

.category-list>.category-list-item {
    border: #f0f0f0 solid 1px;
}

.category-list>.category-list-item:not(:first-child) {
    border-top: none;
}

.category-list span {
    font-size: 60%;
    position: absolute;
    top: 0;
    right: 14px;
    font-weight: 200;
}

.category-list a:hover {
    text-decoration: none;
    color: var(--adorn);
    background: #f9f9f9;
}

.category-list .category-list-child {
    background-color: #f9f9f9;
}

.category-list .category-list-child {
    list-style: none;
    margin-left: 30px;
}

/*   分类   */

/*   标签   */

.tag-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.tag-list .tag-list-item {
    position: relative;
    margin-right: 10px;
}

.tag-list a {
    display: block;
    padding: 5px 12px;
}

.tag-list span {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 200;
    font-size: 60%;
    color: var(--lightmuted);
}

.tag-list a:hover {
    color: var(--adorn);
}

/*  标签  */

/*  面包屑导航  */

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav a {
    color: var(--grey);
    padding-right: 12px;
}

.header-nav a:hover {
    color: var(--adorn);
}

.header-nav .item:before {
    content: "|";
    display: inline-block;
    margin-right: 12px;
    color: #adadad;
}

/*   面包屑导航   */

/*   归档   */

.archives-list .archive-row {
    position: relative;
    margin-left: 20px;
    border-left: 1px dashed var(--lightmuted);
}

.archives-list .archive:before {
    position: absolute;
    transform: translateY(-70%);
    top: 50%;
    left: -5px;
    z-index: 1;
    display: block;
    content: "";
    background-color: var(--adorn);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.archives-list .archive-row:hover .post-title {
    color: var(--adorn);
}

.archives-list .post-date {
    font-weight: 200;
    color: var(--lightmuted);
}

/*   归档   */

.links a:hover {
    color: var(--primary);
}

/*   列表   */

ol, ul {
    margin-left: 1.2rem;
}

/*   列表   */

/*   搜索页面   */

#search-page .none {
    display: none;
}

#search-page .show {
    display: show;
}

#search-page .title strong {
    font-size: 1.2rem;
    font-style: italic;
    text-decoration: underline;
    background: var(--primary);
    color: white;
}

#search-page .post strong {
    font-style: italic;
    text-decoration: underline;
    background: var(--primary);
    color: white;
}

/*   搜索页面end   */

/*    滚动条   */

::-webkit-scrollbar {
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(157, 152, 170);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--muted);
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: transparent
}

/*   滚动条 END   */

/* 返回顶部按钮 */

#up-top {
    opacity: 0;
    position: fixed;
    font-size: 2rem;
    bottom: 0.8rem;
    right: 1rem;
    z-index: 99;
    padding: 0 0.8rem;
    color: var(--dark);
    cursor: pointer;
    transition: all .5s;
}

#up-top:hover {
    color: var(--primary);
}

/*  返回顶部按钮  */