<!-- 搜索栏 -->
<% if(theme.search.enable){ %>
<div class="search bg-light px-2 py-1 my-2">
    <i class="iconfont icon-search mr-2"></i>
    <input class="search-input bg-light" type="text" placeholder="search">
    
</div>
<%}%>

<!-- 头像 -->
<div class="d-flex flex-column align-items-center my-5">
    <img class="rounded-circle" width="160" height="160" src="<%- url_for(theme.avatar) %>" />
    <div class="mt-3 text-name"><%-  theme.author || config.author%></div>
    <% if(theme.subtitle || config.subtitle){ %>
    <div class="position-relative">
        <i class="iconfont icon-quote-left"></i>
        <p class="mt-3 text-lighter"><%- theme.subtitle || config.subtitle %></p>
    </div>
    <%}%>
</div>

<!-- 文章目录 -->
<% if(is_post()){ %> 
    <!-- <div class="js-toc"></div> -->
    <div id="dir"> </div>
<% } %> 
