
<%- partial('_partial/nav_crumb',{page}) %>
<div class="links d-flex flex-column">
<% if(theme.links.enable){ 
        for(const item of theme.links.friends){
%>
        <a class="p-2" href="<%- item.link %>"><%- item.title %></a>
<%
        }
    }else{
%> 
<%- page.content %>       
<%  } %>  

</div>

<div class="font-gray font-xs text-center my-5 py-5">
        ------ ＜／＞ ------   
</div>

<%
// 留言板
// <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
// <div id="vcomments"></div>
//     <script>
//         new Valine({
//             el: '#vcomments',
//             appId: 'QwkK5vGqudLUgVXu4dgveGmW-gzGzoHsz',
//             appKey: 'SDjMztB7OpP8Cg68m71Tx19r',
//             placeholder: '马上评论',
//             enableQQ: true,
//         })
// </script>
%>